Cython>=0.29.28
cmake>=3.22.3    
numpy>=1.22.3
onnx
tqdm
requests
matplotlib
Pillow
scipy
scikit-learn
scikit-image
easydict
albumentations
prettytable
timm
albumentations
onnxruntime
onnx-simplifier
